extends base

block content

    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2 Customers
            //- .btn-toolbar.mb-2.mb-md-0
            //-     .btn-group.mr-2
            //-         button.btn.btn-sm.btn-outline-secondary(type='button') Share
            //-         button.btn.btn-sm.btn-outline-secondary(type='button') Export
            //-     button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
            //-         span(data-feather='calendar')
            //-         |             This week
        .table-responsive
            table.table.table-striped.table-sm
                thead
                    tr
                        th ID
                        th Name
                        th Number
                        th email
                        th Country
                tbody
                    each customer in customers
                        tr
                            td= customer._id
                            td= customer.name
                            td= customer.phoneNumber
                            td= customer.email
                            td= customer.address.country